<template>
  <v-layout align-center column wrap>
    <v-flex xs12>
      <h3>About</h3>
    </v-flex>
    <v-flex xs6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo et nisl auctor suscipit nec sit amet eros. Maecenas sit amet fringilla odio, sed egestas arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sapien nisl, facilisis at rhoncus non, convallis sit amet nibh. Nam id odio scelerisque, eleifend metus ac, suscipit nisl. Vestibulum turpis dui, eleifend non pharetra quis, dignissim sit amet risus. Aliquam pellentesque fermentum auctor. Mauris congue semper dolor et dapibus.</p>
    </v-flex>
    <v-flex xs6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo et nisl auctor suscipit nec sit amet eros. Maecenas sit amet fringilla odio, sed egestas arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sapien nisl, facilisis at rhoncus non, convallis sit amet nibh. Nam id odio scelerisque, eleifend metus ac, suscipit nisl. Vestibulum turpis dui, eleifend non pharetra quis, dignissim sit amet risus. Aliquam pellentesque fermentum auctor. Mauris congue semper dolor et dapibus.</p>
    </v-flex>
    <v-flex xs6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo et nisl auctor suscipit nec sit amet eros. Maecenas sit amet fringilla odio, sed egestas arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sapien nisl, facilisis at rhoncus non, convallis sit amet nibh. Nam id odio scelerisque, eleifend metus ac, suscipit nisl. Vestibulum turpis dui, eleifend non pharetra quis, dignissim sit amet risus. Aliquam pellentesque fermentum auctor. Mauris congue semper dolor et dapibus.</p>
    </v-flex>
    <v-flex xs6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo et nisl auctor suscipit nec sit amet eros. Maecenas sit amet fringilla odio, sed egestas arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sapien nisl, facilisis at rhoncus non, convallis sit amet nibh. Nam id odio scelerisque, eleifend metus ac, suscipit nisl. Vestibulum turpis dui, eleifend non pharetra quis, dignissim sit amet risus. Aliquam pellentesque fermentum auctor. Mauris congue semper dolor et dapibus.</p>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'about'
}
</script>
