<template>
  <v-layout align-center column wrap>
    <v-flex xs12>
      <h3>Ethereum Protocol Value vs Token Value</h3>
    </v-flex>
    <v-flex xs12>
      <span class="grey--text">{{timestamp}}</span>
    </v-flex>
    <v-flex xs8 v-if="showChart">
      <v-layout row wrap>
        <v-flex xs6>
          <bar-chart :chart-data="comparison" :width="600" :height="500"></bar-chart>
        </v-flex>
        <v-flex xs6>
          <pie-chart :chart-data="comparison" :width="600" :height="500"></pie-chart>
        </v-flex>
        <v-flex xs12>
          <v-select label="Token List:" :items="aggregate" v-model="selected" multiple chips>
            <template slot="selection" slot-scope="data">
              <v-chip close @input="data.parent.selectItem(data.item)" :selected="data.selected" class="chip--select-multi" :key="data.item">
                <v-avatar :style="lookupColor(data.item)"></v-avatar>
                {{ data.item }}
              </v-chip>
            </template>
          </v-select>
        </v-flex>
        <v-flex xs6>
          <bar-chart :chart-data="tokens" :width="600" :height="500"></bar-chart>
        </v-flex>
        <v-flex xs6>
          <pie-chart :chart-data="tokens" :width="600" :height="500" :options="{legend: {display: false}}"></pie-chart>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import PieChart from './charts/pieChart.js'
import BarChart from './charts/barChart.js'
export default {
  name: 'current',
  props: {
    tickers: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      metric: 'mktcap',
      selected: []
    }
  },
  mounted() {
    this.selected = this.aggregate
  },
  components: {
    'pie-chart': PieChart,
    'bar-chart': BarChart
  },
  computed: {
    aggregate: function() {
      return this.tickers.aggregate
    },
    standalone: function() {
      return this.tickers.standalone
    },
    timestamp: function() {
      return this.tickers.date
    },
    cache: function() {
      return this.tickers.cache
    },
    showChart: function() {
      return Object.keys(this.coinMap).length > 0
    },
    coins: function() {
      let uniques = new Set([...this.standalone, ...this.aggregate])
      return Array.from(uniques)
    },
    coinMap: function() {
      let coinMap = {}
      this.cache.forEach(coin => {
        if (this.coins.includes(coin.short)) {
          coinMap[coin.short] = coin
          coinMap[coin.short].color = this.randomColor()
        }
      })
      coinMap['Tokens'] = {
        color: this.randomColor()
      }
      return coinMap
    },
    comparison: function() {
      this.coinMap['Tokens'][this.metric] = this.selected.reduce((sum, coin) => {
        return sum + this.coinMap[coin][this.metric]
      }, 0)
      let labels = [...this.standalone, 'Tokens'].sort((a, b) => {
        return this.coinMap[b][this.metric] - this.coinMap[a][this.metric]
      })
      return this.collect(labels)
    },
    tokens: function() {
      let labels = this.selected.sort((a, b) => {
        return this.coinMap[b][this.metric] - this.coinMap[a][this.metric]
      })
      return this.collect(labels)
    }
  },
  methods: {
    lookupColor(token) {
      return {
        'background-color': `${this.coinMap[token].color} !important`,
        'border-color': `${this.coinMap[token].color} !important`
      }
    },
    randomColor() {
      return '#' + ('00000' + ((Math.random() * (1 << 24)) | 0).toString(16)).slice(-6)
    },
    collect(labels) {
      let total = labels.reduce((sum, coin) => {
        return sum + this.coinMap[coin][this.metric]
      }, 0)
      return {
        labels: labels,
        datasets: [
          {
            total: total,
            data: labels.map(coin => {
              return this.coinMap[coin][this.metric]
            }),
            backgroundColor: labels.map(coin => {
              return this.coinMap[coin].color
            })
          }
        ]
      }
    }
  }
}
</script>
