<template>
    <v-layout align-center wrap column>
        <v-progress-circular indeterminate v-show="loading"></v-progress-circular>
        <label slot="activator" class="btn btn--raised custom-file-upload" v-show="!loading">
            <v-icon>file_upload</v-icon>
            <input type="file" accept=".json" @change="handleFile"> Upload Ticker Lists
        </label>
    </v-layout>
</template>

<script>
export default {
  name: 'fileUpload',
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    action: {
      type: Function,
      required: true
    }
  },
  methods: {
    handleFile(e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      let file = files[0]
      let fr = new FileReader()
      fr.onload = e => {
        let content = JSON.parse(fr.result)
        this.action(content)
      }
      fr.readAsText(file)
    }
  }
}
</script>
<style scoped>
input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
</style>
