<template>
    <v-layout align-center column wrap>
        <v-flex align-center xs12 v-if="showChart">
            <v-layout align-center wrap column>
                <span class="grey--text">{{dates}}</span>
            </v-layout>
        </v-flex>
        <v-flex xs12 v-if="showChart" class="chart">
            <line-chart :chart-data="datacollection" :width="500" :height="500"  :options="options"></line-chart>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios'
import LineChart from './charts/lineChart.js'
// https://etherscan.io/tokens
export default {
  name: 'history',
  props: {
    aggregate: {
      type: Array,
      required: true
    },
    standalone: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      coinMap: {},
      labels: [],
      loading: false,
      step: 25,
      init: false
    }
  },
  components: {
    'line-chart': LineChart
  },
  mounted() {
    this.getHistory()
    this.init = true
  },
  computed: {
    showChart: function() {
      return !this.loading && Object.keys(this.coinMap).length > 0 && this.init
    },
    coins: function() {
      let uniques = new Set([...this.standalone, ...this.aggregate])
      return Array.from(uniques)
    },
    dates: function() {
      return `${this.labels[0]} - ${this.labels[this.labels.length - 1]}`
    },
    datacollection: function() {
      return {
        labels: this.labels,
        datasets: Object.entries(this.coinMap).map(value => {
          return value[1]
        })
      }
    },
    options: function() {
      return {
        scales: {
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: 'Market Cap (USD$)'
              }
            }
          ]
        },
        responsive: false,
        layout: {
          padding: {
            top: 10,
            bottom: 10
          }
        }
      }
    }
  },
  methods: {
    randomColor() {
      return (
        '#' +
        ('00000' + ((Math.random() * (1 << 24)) | 0).toString(16)).slice(-6)
      )
    },
    getHistory() {
      this.loading = true
      return axios
        .all(
          this.coins.map(function(coin) {
            return axios
              .get(`http://coincap.io/history/7day/${coin}`)
              .then(result => {
                return { data: result.data['market_cap'], coin: coin }
              })
          })
        )
        .then(results => {
          results.forEach(result => {
            this.coinMap[result.coin] = {
              label: result.coin,
              fill: false,
              borderColor: this.randomColor(),
              data: result.data.filter((_, i) => i % this.step == 0).map(d => {
                return d[1]
              })
            }
          })
          this.labels = results[0].data
            .filter((_, i) => i % this.step == 0)
            .map(d => {
              return new Date(d[0]).toLocaleString()
            })
          this.aggregateHistory()
          this.loading = false
        })
    },
    aggregateHistory() {
      this.coinMap['Aggregate'] = {
        label: 'Aggregate',
        fill: false,
        borderColor: this.randomColor(),
        data: this.labels.map((_, i) => {
          return this.aggregate.reduce((sum, coin) => {
            return sum + this.coinMap[coin].data[i]
          }, 0)
        })
      }
    }
  }
}
</script>
