<template>
  <v-app light>
    <v-toolbar>
      <a href="http://cuvialabs.com/the-menegro-index/">
        <img class="logo" src="http://cuvialabs.com/wp-content/uploads/cropped-CuviaSiteLogo-1.png" alt="logo" />
      </a>
      <v-toolbar-title>The Monegro Index</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn v-for="(v, index) in views" :key="index" @click="view=v" flat>{{v}}</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <main>
      <v-content>
        <v-container fluid>
          <v-layout column align-center>
            <current :tickers="tickers" v-show="view === 'Current'"></current>
            <about v-show="view === 'About'"></about>
           </v-layout>
        </v-container>
      </v-content>
    </main>
  </v-app>
</template>

<script>
import Current from './components/current'
import About from './components/about'
import tickers from './tickers'
export default {
  data() {
    return {
      views: ['Current', 'About'],
      view: 'Current',
      tickers: tickers
    }
  },
  components: {
    current: Current,
    about: About
  }
}
</script>

<style>
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.logo {
  max-height: 30px;
  max-width: 30px;
  height: auto;
  width: auto;
}
</style>

